@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using X.PagedList.Web.Common
@model EcommercePrestige.Application.ViewModel.MarcaListAdmViewModel

@{
    Layout = "_LayoutAdm";
}

<div class="row">
    <div class="col-md-5 col-xs-3" style="margin-bottom: 10px;">
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" asp-controller="Marca" asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-1 small" placeholder="Pesquisar" aria-label="Search" aria-describedby="basic-addon2" name="termo">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search" asp-controller="Marca" asp-action="Index" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Pesquisar" aria-label="Search" aria-describedby="basic-addon2" name="termo">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-md-2 offset-md-5" style="margin-bottom: 10px;">
        <button style="float: right;" class="btn btn-primary" onclick="location.href = '@Url.Action("Create", "Marca")'">Incluir Marca</button>
    </div>
</div>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de produtos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-uppercase" id="dataTable" width="100%" cellspacing="0" style="text-align: center;">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        foreach (var item in Model.ListaMarca)
                        {
                            <tr>
                                <td>@item.Nome</td>
                                <td><button class="btn btn-primary" onclick="location.href = '@Url.Action("Edit","Marca", new{id = @item.Id})'"> Editar</button></td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="float-right" style="display: inline-flex;">
    <p>
        Paginas: @Html.PagedListPager(
            Model.ListaMarca,
            pagina => Url.Action("Index",
                new
                {
                    pagina,
                    termo = Model.Termo
                }
                ),
            new PagedListRenderOptions()
            {
                UlElementClasses = new List<string> { "store-pages" },

                DisplayLinkToNextPage = PagedListDisplayMode.Never,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Never

            })
    </p>

</div>